@use 'src/_colors.scss' as theme;
@use '@angular/material' as mat;
@import 'src/mixins.scss';

h2{
    margin-bottom: 0;
}

.header{
    background-color: mat.get-color-from-palette(theme.$primary, 500);
    display: grid;
    height: 3.5rem;
    padding-inline-start: 1rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
}

.nav-btn-container{
    display: flex;
    gap: 0.5rem;
}

.nav-btn{
    background-color: theme.$backgroundColor-500;
}

.icon-color{
    color: theme.$text-color;
}

button{
    position: relative;
    z-index: 3;
}

.sign-out-btn{
    background-color: theme.$backgroundColor-500 !important;
}

p{
    align-self: center;
    margin-bottom: 0;
}

.nav-icon{
    position: relative;
    transform: scale(1.6);
    z-index: 2;
}

.mobile-menu{
    display: flex;
    width: 100%;
    justify-content: stretch;
}

.sign-out{
    margin-left: 0.4rem;
    color: theme.$text-color;
    font-weight: 700;
}

.sign-out:active{
    transform: translateY(1px) translateX(1px);
}