@use 'src/_colors.scss' as theme;
@use '@angular/material' as mat;
@import 'src/mixins.scss';

.track-item{
    padding: .2rem 0.3rem;
    margin-inline: 0.6rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: theme.$text-color;
    background-color: theme.$backgroundColor-500;
    border: 1px solid transparent;

    img{
        border-radius: 3px;
    }

    .info-container{
        display: flex;
        align-items: center;
        gap: 1rem;

        p{
            margin-bottom: 0;
        }

        overflow-x: hidden;
    }

    .track-name{
        font-weight: 700;
        white-space: nowrap;
    }

    .action-btns{
        display: flex;
        flex-wrap: nowrap;
    }

}

.track-item:hover{
    cursor: pointer;
    background-color: theme.$backgroundColor-200;
    border: 1px solid mat.get-color-from-palette(theme.$accent, 600);
}

.track-item:active{
    transform: translateY(2px);
}