<section class="header-section">
        <img
            [style.view-transition-name]="'cover-' + album().id"    
            [src]="album().images[0].url" 
            alt="album image" 
            width="250" 
            height="250"
        >
    <div>
        <p  
            [style.view-transition-name]="'name-' + album().id"
            class="heading">
            {{ album().name }}
        </p>
        <p><strong> {{ album().total_tracks }} Tracks</strong></p>
        <div class="flex gap-s">
            <p>By </p>
            @for(artist of album().artists; track artist.id){
                <app-link [artist]="artist" [bold]="true"></app-link>
            }
        </div>
    </div>
</section>
<section class="section">
    <h2 class="section-heading">Tracks</h2>
</section>