<div class="header-section">
        <img
            [style.view-transition-name]="'cover-' + album().id"    
            [src]="album().images[0].url" 
            alt="album image" 
            width="250" 
            height="250"
        >
    <div>
        <p class="heading">{{ album().name }}</p>
        <p><strong> {{ album().total_tracks }} Tracks</strong></p>
        <div class="flex">
            <p>By </p>
            @for(artist of album().artists; track artist.id){
              <strong><p class="link">{{ artist.name }}</p></strong>
            }
        </div>
    </div>
</div>