<mat-toolbar class="player-card">
  <div class="container">
    <app-track-details [track]="currentTrack$" />
    <app-player-buttons class="main-btns"/>
    <button class="queue_btn" matTooltip="Queue"
      matTooltipShowDelay="300" matTooltipPosition="above"
      (click)="getQueue()" [disabled]="!(currentTrack$ | async)"
      mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>queue_music</mat-icon>
    </button>
    <app-media-progress-bar class="media-progress-bar"/>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu"
  yPosition="above" xPosition="before" class="background">
  @if ((queue$ | async)?.length > 0) {
    <div class="queue-menu">
      @for (track of (queue$ | async); track track) {
        <p mat-menu-item
          #item>
          {{track.name}}
        </p>
      }
    </div>
  } @else {
    <div class="loader">
      <mat-spinner
        color="primary"
        mode="indeterminate"
        [diameter]="50">
      </mat-spinner>
    </div>
  }
</mat-menu>