@use 'src/_colors.scss' as theme;
@use '@angular/material' as mat;
@import 'src/mixins.scss';

.player-card{
    position: relative;
    z-index: 100;
    box-shadow: 0px -15px 20px 15px rgba(0,0,0,0.3);
    background-color: theme.$backgroundColor-200;
    height: fit-content;
}

.container{
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-rows: 2fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.current-track-img{
    grid-row: span 2;
    width: 4.5rem;
    align-self: center;
    border-radius: 5px;
}

.main-btns{
    padding-top: 0.5rem;
    justify-self: center;
}

.media-progress-bar{
    justify-self: center;
    grid-column: 2/3;
}

.loader{
    display: grid;
    justify-content: center;
}

.background{
    background-color: theme.$backgroundColor-500;
}

.queue-menu{
    max-height: 20rem;
    width: 12rem;
}