@use 'src/_colors.scss' as theme;
@use '@angular/material' as mat;
@import 'src/mixins.scss';

.saved-tracks-container{
    display: grid;
    gap: 0.4rem;
    overflow: auto;
}

.saved-tracks-container{
    @include scrollbar;
}

.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}