@use '../../../colors.scss' as theme;

:host{
    display: block;
    padding: 1.5rem;
}

.header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;

    button{
        justify-self: start;
    }
}

.section-heading{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: theme.$text-color;
}

.albums-container{
    flex-wrap: wrap;
    gap: 1.5rem;
}

.message{
    font-size: 2rem;
    width: 100%;
    text-align: center;
}