@use '../../../colors.scss' as theme;

:host{
    display: block;
    padding: 1.5rem;
}


.section button{
    justify-self: start;
}

.albums-container{
    flex-wrap: wrap;
    gap: 1.5rem;
}

.message{
    font-size: 2rem;
    width: 100%;
    text-align: center;
}