<section class="header">
    <img [src]="artist().images[0].url" height="250" width="250" />
    <div>
        <p class="heading"> {{ artist().name }} </p>
        <p><strong>{{ artist().followers.total }}</strong> followers</p>
        @if(isFollowing()){
            <button mat-stroked-button
            (click)="unfollow()">
                following
            </button>
        }@else{
            <button mat-stroked-button 
            (click)="follow()">
                follow
            </button>
        }
    </div>
</section>
<section class="top-tracks">
    <h2 class="section-heading"> Top Tracks </h2>
    <div class="grid gap-m">
        @for(track of topTracks(); track track.id; let i = $index){
            <app-track-item [index]="i" [track]="track" [isPlaying]="track" />
        }
    </div>
</section>