<section class="header">
    <img [src]="artist().images[0].url" height="250" width="250" />
    <div>
        <p class="heading"> {{ artist().name }} </p>
        <p><strong>{{ artist().followers.total }}</strong> followers</p>
        @if(isFollowing()){
            <button mat-stroked-button
            (click)="unfollow()">
                following
            </button>
        }@else{
            <button mat-stroked-button 
            (click)="follow()">
                follow
            </button>
        }
    </div>
</section>
<section class="section">
    <h2 class="section-heading"> Top Tracks </h2>
    <div class="grid gap-m">
        @for(track of topTracks(); track track.id; let i = $index){
            <app-track-item [index]="i" [track]="track" [isPlaying]="track" />
        }@empty{
            @for(i of 5 | repeat; track i){
                <app-track-placeholder />
            }
        }
    </div>
</section>
<section class="section">
    <h2 class="section-heading">Albums</h2>
    <div class="flex albums-container">
        @for(album of albums(); track album.id){
            <app-album-item [album]="album" />
        }
        
        @if(albums() && albums().length===0){
            <p class="message">Artist has no albums</p>
        }
    </div>
    @if (more() && albums()) {
    <button mat-stroked-button (click)="limit.set(6); more.set(false)">see all</button>
    }
</section>