<section>
    <ul class="playlist">
        <li class="list-item">
            <mat-card class="card" (click)="navigate('liked-songs')">
                    <p class="title">Liked Songs</p>
                    <app-play-button
                     class="play-button"/>
            </mat-card>
            <!-- <mat-card class="card" (click)="getPlaylists()">
                <p class="title">Playlists</p>
                <app-play-button
                 class="play-button"/>
        </mat-card> -->
        </li>
    </ul>
</section>
