<main class="main-section">
    <mat-toolbar class="header">
            <button mat-mini-fab class="btn-color"
             (click)="back()"
             ><mat-icon class="icon-color">keyboard_arrow_left</mat-icon></button>
            <button mat-mini-fab class="btn-color"
             (click)="next()"
             ><mat-icon class="icon-color">keyboard_arrow_right</mat-icon></button>
            <h2 class="username">WELCOME {{(user$ | async)?.display_name | uppercase }}</h2>
    </mat-toolbar>
    <router-outlet ></router-outlet>
    <app-web-player class="web-player"/>
</main>
<ng-container *ngIf="error$ | async"></ng-container>
