@use 'src/_colors.scss' as theme;
@use '@angular/material' as mat;
@import 'src/mixins.scss';

h2{
    margin-bottom: 0;
}

mat-icon{
    transform: scale(2);
}

.main-section{
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: grid;
    gap: 0.2rem;
    grid-template-rows: 10% 0% 70% 1fr;
    background-color: theme.$backgroundColor-200;
}

.username{
    color: theme.$text-color;
    margin-left: 1rem;
}

.web-player{
    position: relative;
    max-width: 100%;
}

.card{
    background-color: mat.get-color-from-palette(theme.$primary, 500);
    display: grid;
    padding-inline-start: 1rem;
    grid-template-columns: repeat(3, max-content);
    justify-content: start;
    align-items: center;
}