@use '@angular/material' as mat;

$primary: mat.m2-define-palette(mat.$m2-purple-palette);
$accent: mat.m2-define-palette(mat.$m2-green-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);
$text-color: #d3d3d3;
// $backgroundColor-200: #384867;
// $backgroundColor-500: #5d79ab;
$backgroundColor-200: #212121;
$backgroundColor-500: #303030;
