@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$purple-palette);
$accent: mat.define-palette(mat.$green-palette);
$warn: mat.define-palette(mat.$red-palette);
$text-color: #d3d3d3;
$backgroundColor-200: #303030;
$backgroundColor-500: #212121;
