@use '@angular/material' as mat;
@use 'src/_colors.scss' as theme;

@mixin scrollbar{
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: mat.m2-get-color-from-palette(theme.$primary, 500);
    }
}

@mixin loader{
    display: grid;
    align-items: center;
    justify-content: center;
}